*{
  box-sizing: border-box;
}

body {
  background-color: white;
  padding: 10px;
  font-family: input-serif, serif;
font-weight: 100;
font-style: normal;
}

#overskriftogbilleder{
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
}
#topbillede1{
    grid-column-start: 1;
    grid-column-end: 1;
}
#overskrift{
    grid-column-start: 2;
    grid-column-end: 2;
}
#topbillede{
    grid-column-start: 3;
    grid-column-end: 3;
}
img{
    width: 100%;
    
}
#mel{
    height: 405px;
}
/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

#topbillede1{
    height: 100%;
    width: 80%;
    align-items: center;
}
#topbillede{
    height: 100%;
    width: 80%;
    align-items: center;
}

#overskrift{
    font-size: 40px;
  word-break: break-all;
    text-align: center;
    color: #DE93A7;
   
font-family: input-serif-compressed, serif;
font-weight: 700;
font-style: normal;
    align-items: center;
}

h2{
    font-size: 35px;
    color: #16987f;
    font-family: input-serif, serif;
font-style: normal;
font-weight: 100;
    
}
}
/* Add padding BETWEEN each column (if you want) */
.row > .column {
  padding-top: 0px;
padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

/* Create four equal columns that floats next to each other */
.column {
float: left;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: #ffffff;
  padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 700px) {
  .column {
    width: 100%;
  }
    img{
        width: 100%;
        
    }
#overskrift{
    font-size: 25px;
  word-break: break-all;
    text-align: center;
    color: #16987f;
    font-family: input-serif-compressed, serif;
font-weight: 700;
font-style: normal;
    }
    #mel{
        height: 100%;
    }
h2{
    font-size: 30px;
    color: #DE93A7;
    
    }
    #topbillede{
        height: 100%;
        width: 80%;
    }
    #topbillede1{
        height: 100%;
         width: 80%;
    }
body {
  background-color: #E0C280;
  padding: 10px;
}
    
    @media screen and (max-width: 400px) {
  .column {
    width: 100%;
  }
   
#overskrift{
    font-size: 14px;
  word-break: break-all;
    text-align: center;
    color: #E0C280;
   font-family: input-serif-compressed, serif;
font-weight: 700;
font-style: normal;
}
    #topbillede{
        height: 150px;
    }
    #topbillede1{
        height: 150px;
    }

        #mel{
            height: 100%;
        }
body {
  background-color: #16987f;
}
        img{
          width: 100%;   
        }
        h2{
            font-size: 20px;
            color: #DE94A6;
            font-family: input-serif, serif;
font-style: normal;
font-weight: 100;
        }

        h3{
            font-size: 15px;
            font-family: input-serif, serif;
font-style: normal;
font-weight: 100;
        }
        p{
            font-size: 15px;
            font-family: input-serif, serif;
font-style: normal;
font-weight: 100;
        }
       
    }