*{
    box-sizing: border-box;
}
/*mobile*/
        img{
            width: 100%;
            height: 100%;
        }
        #overskriftogbilleder{
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
}
#topbillede1{
    grid-column-start: 1;
    grid-column-end: 1;
}
#overskrift{
    grid-column-start: 2;
    grid-column-end: 2;
}
#topbillede{
    grid-column-start: 3;
    grid-column-end: 3;
}
    #topbillede{
        height: 100px;
    }
    #topbillede1{
        height: 100px;
    }
        #overskrift{
            color: #DE94A6;
            font-size: 17px;
            font-family: input-serif-compressed, serif;
            font-weight: 400;
            font-style: normal;
        }
body {
  background-color: #16987f;
    margin: 0;
}
    .ingredienser{
        height: 100%;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    }
.ingredienser::-webkit-scrollbar{
    display: none;
        }

        .card-1{
        display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    }
    
    .card-2{
        display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    }
    
    .card-3{
        display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    }

    .card-4{
        display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    }
    
    .card-5{
        display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    }

    .card-6{
        display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    }    
        li{
            font-size: 15px;
            color: #DE94A6;
            font-family: input-serif-compressed, serif;
            font-weight: 400;
            font-style: normal;
        }     
        }
        h2{
            color: #DE94A6;
            font-family: input-serif-compressed, serif;
            font-weight: 400;
            font-style: normal;
            word-break: break-all;
            
        }

        h3{
            font-size: 15px;
            color: #DE94A6;
            font-family: input-serif-compressed, serif;
            font-weight: 400;
            font-style: normal;
        }
        p{
            font-size: 12px;
            color: #DE94A6;
            font-family: input-serif-compressed, serif;
            font-weight: 400;
            font-style: normal;
            word-break: break-all;
        }
}

body {
  background-color: #E0C280;
  
}

body{
    margin: 0;
}   
.box{
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0px;
}

.box::-webkit-scrollbar{
    display: none;
}
h2{
    font-size: 20px;
    color: #DE94A6;
            font-family: input-serif-compressed, serif;
            font-weight: 400;
            font-style: normal;
            word-break: break-all;
}
.card-a{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
    
    
}

}
.card-b{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
   
    
}
.card-c{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
   
    
}
.card-d{
    display: inline-block;
    height: 100%;
   width: 100%;
    background-color: #ffff;
   
    
    
}
.card-e{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
   
}
.card-f{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
  
}
.card-g{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
   
}

.card-h{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
    
}

.card-i{
    display: inline-block;
    height: 100%;
    width: 100%;
   background-color: #ffff;
    
}

.card-j{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
    
}

.card-k{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
   
}
.b{
    
    width: 200px;
    height: 200px;
}
.servering {
    width: 100%;
  
}
.servering2 {
  background-color: #ffffff;
}

#serveringa{
    height: 400px;
    width: 400px;
}

#serveringb{
    height: 400px;
    width: 400px;
    padding-top: 80px;
}
footer{
    font-size: 15px;
    font-family: input-serif-compressed, serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}
/* tablet*/
@media screen and (min-width: 600px) {
#overskriftogbilleder{
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
}
#topbillede1{
    grid-column-start: 1;
    grid-column-end: 1;
}
#overskrift{
    grid-column-start: 2;
    grid-column-end: 2;
}
#topbillede{
    grid-column-start: 3;
    grid-column-end: 3;
}
    #overskrift{
    font-size: 25px;
  word-break: break-all;
    text-align: center;
    color: #16987f;
    font-family: input-serif-compressed, serif;
    font-weight: 400;
    font-style: normal;
    }
    .ingredienser{
        height: 100%;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    }

    .card-1{
        display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
    }
    
    .card-2{
        display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
    }
    
    .card-3{
        display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
    }

    .card-4{
        display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
    }
    
    .card-5{
        display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
    }

    .card-6{
        display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
    }
    p{
        font-size: 12px;
        color: #16987f;
    }
    h3{
        color: #16987f;
    }
    li{
        color: #16987f;
    }
    h2{
    font-size: 20px;
    color: #16987f;
    font-family: input-serif-compressed, serif;
    font-weight: 400;
    font-style: normal;
    
    }
    #topbillede{
        height: 15em;
        width: 10em;
       
    }
    #topbillede1{
        height: 15em;
        width: 10em;
    }
    #overskrift{
        font-size: 45px;
    color: #16987f;
    font-family: input-serif-compressed, serif;
    font-weight: 400;
    font-style: normal;
    }
    body {
  background-color: #E0C280;
  padding: 10px;
}

body{
    margin: 0;
}   
.box{
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
img{
    height: 500px;
    width: 100%;
        }
.box::-webkit-scrollbar{
    display: none;
}
.card-a{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
  
    
}

}
.card-b{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
    
    
    
    
}
.card-c{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
  
    
}
.card-d{
    display: inline-block;
    height: 100%;
   width: 100%;
    background-color: #ffff;
   
    
    
    
}
.card-e{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
  
    
     
}
.card-f{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
   
    
}
.card-g{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
 
}

.card-h{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
   
    
}

.card-i{
    display: inline-block;
    height: 100%;
    width: 100%;
   background-color: #ffff;
  
}

.card-j{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
    
    
}

.card-k{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
    
}
.b{
    width: 300px;
    height: 300px;
}
/*desktop*/
@media screen and (min-width: 900px) {
body {
  background-color: #DE94A6;
  padding: 10px;
  font-family: input-serif, serif;
font-weight: 100;
font-style: normal;
}

#overskriftogbilleder{
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
}
#topbillede1{
    grid-column-start: 1;
    grid-column-end: 1;
}
#overskrift{
    grid-column-start: 2;
    grid-column-end: 2;
}
#topbillede{
    grid-column-start: 3;
    grid-column-end: 3;
}
img{
    width: 100%;
    height: 100%;
    
    
}

#topbillede1{
    height: 250px;
    width: 100%;
    align-items: center;
}
#topbillede{
    height: 250px;
    width: 100%;
    align-items: center;
}

#overskrift{
    font-size: 40px;
  word-break: break-all;
    text-align: center;
    color: #16987f;
   font-family: input-serif-compressed, serif;
    font-weight: 400;
    font-style: normal;
}

        .ingredienser{
        height: 100%;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    }
.ingredienser::-webkit-scrollbar{
    display: none;
        }

        .card-1{
        display: inline-block;
    height: 100px;
    width: 16%;
    background-color: #ffff;
            padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    }
    
    .card-2{
        display: inline-block;
    height: 100px;
    width: 16%;
    background-color: #ffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    }
    
    .card-3{
        display: inline-block;
    height: 100px;
    width: 16%;
    background-color: #ffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    }

    .card-4{
        display: inline-block;
    height: 100px;
    width: 16%;
    background-color: #ffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    }
    
    .card-5{
        display: inline-block;
    height: 100px;
    width: 16%;
    background-color: #ffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    }

    .card-6{
        display: inline-block;
    height: 100px;
    width: 16%;
    background-color: #ffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    } 
    
h2{
    font-size: 30px;
    color: #16987f;
    font-family: input-serif-compressed, serif;
    font-weight: 400;
    font-style: normal;
}
    h3{
        font-size: 25px;
    color: #16987f;
    font-family: input-serif-compressed, serif;
    font-weight: 400;
    font-style: normal;
    }
    li{
        font-size: 20px;
    color: #16987f;
    font-family: input-serif-compressed, serif;
    font-weight: 400;
    font-style: normal;
    }
    p{
        font-size: 20px;
    color: #16987f;
    font-family: input-serif-compressed, serif;
    font-weight: 400;
    font-style: normal;
    }
    .box{
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: normal;
}
}
.card-a{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

}
.card-b{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
    
}
.card-c{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
}
.card-d{
    display: inline-block;
    height: 100%;
   width: 100%;
    background-color: #ffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
    
}
.card-e{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
    
     
}
.card-f{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.card-g{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
   padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.card-h{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.card-i{
    display: inline-block;
    height: 100%;
    width: 100%;
   background-color: #ffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.card-j{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.card-k{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #ffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
  
}