*{
  box-sizing: border-box;
}

body {
  background-color: white;
  padding: 10px;
  font-family: Arial;
}

#overskriftogbilleder{
    display: grid;
    grid-template-columns: 1fr, 3fr, 1fr;
    
}
#topbillede1{
    grid-column-start: 1;
    grid-column-end: 1;
}
#overskrift{
    grid-column-start: 2;
    grid-column-end: 4;
}
#topbillede{
    grid-column-start: 5;
    grid-column-end: 5;
}
}
/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

#topbillede1{
    height: 250px;
}
#topbillede{
    height: 250px;
}

h1 {
  font-size: 50px;
  word-break: break-all;
    text-align: center;
    color: #DE93A7;
}

h2{
    font-size: 45px;
    color: #1e9f67;
    
}
img{
    height: 350px;
}
}
/* Add padding BETWEEN each column (if you want) */
.row > .column {
  padding-top: 0px;
padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

/* Create four equal columns that floats next to each other */
.column {
float: left;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 700px) {
  .column {
    width: 100%;
  }
    img{
        height: 100%;
    }
h1 {
  font-size: 35px;
  word-break: break-all;
    text-align: center;
    color: #1e9f67;
}


h2{
    font-size: 30px;
    color: #DE93A7;
    }
    #topbillede{
        height: 100px;
    }
    #topbillede1{
        height: 100px;
    }
body {
  background-color: #E0C280;
  padding: 10px;
  font-family: Arial;
}
    
    @media screen and (max-width: 400px) {
  .column {
    width: 100%;
  }
   
h1 {
  font-size: 25px;
  word-break: break-all;
    text-align: center;
    color: #E0C280;
}
    #topbillede{
        height: 100px;
    }
    #topbillede1{
        height: 100px;
    }
body {
  background-color: #1e9f67;
   
  padding: 10px;
  font-family: Arial;
}
        img{
            width: 100%
        }
        h2{
            font-size: 20px;
            color: #DE94A6;
        }

        h3{
            font-size: 15px;
        }
        p{
            font-size: 15px;
        }
       
    }